<div class="country">
	<div class="country-container">
		<div class="country-nav">
		
			<h1> <span>{{fa-icon 'signal'}}</span> Elecciones en {{model.country.name}}</h1>	
		</div>

		<section class="country-content" style="width: 100%;">
			<div class="country-list">
					<div class="list-header">
						<div class="item-title">
							Nombre de la elección
						</div>
						<div class="item-content">
							<div class="item -banks">
								&nbsp;
							</div>
							<div class="item -voters">
								Participación
							</div>
							<div class="item -date">
								Fecha de la elección
							</div>
						</div>
					</div>
			</div>
		</section>
	</div>
</div>